<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
	   http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:http auto-config="false" entry-point-ref="casEntryPoint">
        <sec:intercept-url pattern="/*" access="hasRole('ROLE_USER')"/>
        <!--cas 认证过滤器-->
        <sec:custom-filter ref="casFilter" position="CAS_FILTER"/>
    </sec:http>

    <!--service相关属性-->
    <bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <!--回调地址-->
        <property name="service" value="http://localhost:8080"/>
        <property name="sendRenew" value="false"/>
    </bean>

    <!--认证管理器-->
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="casAuthenticationProvider"/>
    </sec:authentication-manager>
    <bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <property name="authenticationUserDetailsService">
            <bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <constructor-arg ref="userService"/>
            </bean>
        </property>
        <property name="serviceProperties" ref="serviceProperties"/>
        <property name="ticketValidator">
            <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <constructor-arg index="0" value="http://localhost:800/cas"/>
            </bean>
        </property>
        <property name="key" value="casAuthProviderKey" />
    </bean>
    <sec:user-service id="userService">
        <sec:user name="admin" password="123456" authorities="ROLE_USER" />
    </sec:user-service>

    <!--认证入口-->
    <bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <property name="loginUrl" value="http://localhost:8000/cas/login"/>
        <property name="serviceProperties" ref="serviceProperties"/>
    </bean>

    <!--cas 认证过滤器-->
    <bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>
</beans>