<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 因为spring的context是父子容器，所以会产生冲突，Controller会先进行扫描装配， 而此时的Service还没有进行事务的增强处理，得到的将是原样的Service（没有经过事务加强处理，故而没有事务处理能力）
        最后才是applicationContext.xml中的扫描配置进行事务处理 -->

    <context:component-scan base-package="com.biocare.message.*">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>

    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:${user.dir}/conf/message/jdbc.properties</value>
                <value>file:${user.dir}/conf/message/dubbo.properties</value>
                <value>file:${user.dir}/conf/message/redis.properties</value>
                <value>file:${user.dir}/conf/message/message.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:spring/spring-mybatis.xml"/>
    <import resource="classpath:spring/dubbo-provider.xml"/>
    <!--<import resource="classpath:spring/spring-redis.xml"/>-->
    <import resource="classpath:spring/spring-quartz.xml"/>
</beans>
